<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
     <!--开始：以下内容则可删除，仅为素材引用参考-->
     <h1 style="color:red;font-size:20px;font-weight:bold;text-align:center;">微信小程序开发实战系列(第三季)</h1>
     <p style="color:red;font-size:16px;font-weight:bold;text-align:center;margin:8px 0;background:#FFC;padding:8px;">
	  <br/>
	  PHP-LINUX~技术交流群:163656536<br/></br>
	  微信公众号小程序开发群:661302139<br/></br>
	  thinkphp5框架技术交流群:322682327<br/></br>
	  获取更多视频课程腾讯课堂搜索:lampol</br></br>
		

    </p>
 </div>
</section>

