
<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">图片列表</h2>
       <a href="/pic" class="fr top_rt_btn">返回图片列表</a>
      </div>
     <section>
      <ul class="ulColumn2">
       <li>
        <span class="item_name" style="width:120px;">图片名称：</span>
        <input type="text" class="textbox textbox_295" placeholder="图片名称..."/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">图片顺序：</span>
        <input type="text" class="textbox" placeholder="图片顺序..."/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">是否展示：</span>
        <label class="single_selection"><input type="radio" name="name"/>是</label>
        <label class="single_selection"><input type="radio" name="name"/>否</label>
       </li>
       <li>
        <span class="item_name" style="width:120px;">上传图片：</span>
        <label class="uploadImg">
         <input type="file"/>
         <span>上传图片</span>
        </label>
       </li>
       <li>
        <span class="item_name" style="width:120px;"></span>
        <input type="submit" class="link_btn" value="提交" />
       </li>
      </ul>
     </section>
 </div>
</section>
